<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depromeet.linkzupzup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinkZupZup">

        <activity
            android:name=".view.scrap.ScrapDetailActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LinkZupZup.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.mypage.MyPageActivity" />
        <activity android:name=".view.mydonut.MyDonutActivity" />
        <activity android:name=".view.alarm.AlarmDetailActivity" />
        <activity android:name=".view.webView.WebViewActivity"/>

        <receiver
            android:name=".component.AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>